<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mong Thu Vietnamese Sandwiches &amp; Soups | San Francisco, Ca</title>
    <meta name="description" content="">
	<meta name="viewport" content="user-scalable=no, width=device-width" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" href="css/animate.css"> -->
    <link rel="stylesheet" href="css/tooltipster.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/vendor/modernizr-2.6.1.min.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <header>
        <h1 id="logo" class="hide-text">logo</h1>
        <section class="info">
            <span>248 Hyde St.</span>
            <span>San Francisco</span>
            <span>(415) 928-6724</span>
            <span>Open Daily 7am–5pm</span>
        </section>
    </header>
	
<%= yield %>

<footer class="clearfix">
    <section class="mindful">
        Please be mindful of our staff, English isn’t their first language.
    </section>
    <section class="social">
        <a href="https://www.facebook.com/pages/Mong-Thu-Cafe/205533676141905" target="_blank"><img src="img/facebook.png" alt=""></a>
        <a href="http://www.thebolditalic.com/Kornlock/stories/454-wich-hunt" target="_blank"><img src="img/bold_italic.png" alt=""></a>
        <a href="http://www.foodspotting.com/places/309871-mong-thu-cafe-san-francisco" target="_blank"><img src="img/foodspotting.png" alt=""></a>
        <a href="http://www.yelp.com/biz/mong-thu-cafe-san-francisco" target="_blank"><img src="img/yelp.png" alt=""></a>
    </section>
    <section class="vietnam">
        <img src="img/vietnamese-made.png" alt="">
    </section>
</footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
    <!-- <script src="js/vendor/bootstrap.min.js"></script> -->
    <script src="js/vendor/jquery.tooltipster.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
