<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mong Thu Cafe | Vietnamese Sandwiches &amp; Soups | San Francisco, Ca</title>
    <meta name="description" content="">
	<meta name="viewport" content="user-scalable=no, width=device-width" />
	<meta name="apple-mobile-web-app-capable" content="no" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png" />
    
    <link rel="stylesheet" href="css/tooltipster.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/vendor/modernizr-2.6.1.min.js"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <header>
        <h1 id="logo" class="hide-text">logo</h1>
        <section class="info">
            <span><a href="http://goo.gl/maps/OGxdn" target="_blank">248 Hyde St.</a></span>
            <span><a href="tel:1-415-928-6724">(415) 928-6724</a></span>
            <span>7am–6pm daily</span>
            <span>4pm on weekends</span>
        </section>
    </header>
	
<%= yield %>

<footer class="clearfix">
    <section class="mindful">
        Please be mindful of our staff, English isn’t their first language.
    </section>
    <section class="social">
        <a href="https://www.facebook.com/pages/Mong-Thu-Cafe/205533676141905" target="_blank"><img src="img/facebook@2x.png" height="28" width="137" alt=""></a>
        <a href="http://www.thebolditalic.com/Kornlock/stories/454-wich-hunt" target="_blank"><img src="img/bold_italic@2x.png" height="68" width= "214" alt=""></a>
        <a href="http://www.foodspotting.com/places/309871-mong-thu-cafe-san-francisco" target="_blank"><img src="img/foodspotting@2x.png" height="35" width= "214" alt=""></a>
        <a href="http://www.yelp.com/biz/mong-thu-cafe-san-francisco" target="_blank"><img src="img/yelp@2x.png" height="58" width="118" alt=""></a>
    </section>
    <section class="vietnam">
        <img src="img/vietnamese-made@2x.png" height="49" width="116" alt="This establishment and all of its food is vietnamese made!">
    </section>
</footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
    <!-- <script src="js/vendor/bootstrap.min.js"></script> -->
    <script src="js/vendor/jquery.tooltipster.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3392325-5']);
      _gaq.push(['_setDomainName', 'mongthu.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>
</html>
