<div class="main">
    <section class="success">
        <h1>Looking good!</h1>
        <h2>or at least you will be soon with the Lady Bug shirt!</h2>
        <hr>
        <p>We will get in contact with you when we start letting people order these fine shirts! <a href="/" title="Request Another Shirt Size | Home">Submit another shirt size for a friend or family member!</a></p>      
        <div class="heart"><a href="https://www.facebook.com/Auntieauntiem" target="_blank" title="Martha's Facebook Page"><img src="img/martha_mom-love.png" /></a></div>
    </section>    
</div>