@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
/* line 5, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\000035}}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: none;
  /*    background: #fff url(../img/mongthu_frame.png) no-repeat 50% 0;*/

  font-size: 100%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #504c4b;
  /*#4d4d4d;*/

  margin: 0;
}
/* line 17, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000317}}
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 23, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000323}}
h1,
h2,
h3,
h4 {
  color: #00a7ab;
  text-transform: uppercase;
  margin-top: 0;
}
/* line 29, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000329}}
ol,
ul {
  list-style-position: outside;
  padding: 0;
  font-weight: bold;
}
/* line 35, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000335}}
ol li span,
ul li span {
  font-weight: normal;
}
/* line 39, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000339}}
.info {
  background: #d8f1f2;
  /*        margin:auto;*/

  text-align: center;
  padding: 20px 5%;
  text-transform: uppercase;
  color: #00a7ab;
  font-weight: 700;
  letter-spacing: 0.3em;
  font-size: 0.90em;
}
/* line 50, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000350}}
.info span {
  margin: 0 20px;
  display: inline-block;
  line-height: 2em;
}
/* line 57, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000357}}
.relative {
  position: relative;
  z-index: 1000;
}
/* line 62, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000362}}
header {
  /*    background:#d8f1f2;*/

  background: #000000 url(../img/soup-hero.png) fixed 50% 0;
  /*    height:420px;*/

  padding-top: 75px;
  /*margin-bottom:60px;*/

}
@media screen and (min-width: 1000px) {
  /* line 67, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000367}}
  header {
    background-size: 100%;
  }
}
/* line 75, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000375}}
header #logo {
  height: 202px;
  width: 100%;
  background: transparent url(../img/MongThu-logo.png) no-repeat 50% 0;
  margin: 0 auto 80px auto;
}
@media screen and (min-width: 400px) {
  /* line 79, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000379}}
  header #logo {
    position: fixed;
    z-index: 0;
  }
}
@media screen and (min-width: 400px) {
  /* line 87, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000387}}
  header .info {
    margin-top: 300px;
    position: relative;
    z-index: 1000;
  }
}
/* line 95, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000395}}
#main {
  width: 80%;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 10%;
  position: relative;
  z-index: 1000;
}
/* line 101, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003101}}
#main p {
  margin: 0 0 1em 0;
}
/* line 105, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003105}}
#main section.menu {
  max-width: 910px;
  margin: 0 auto;
}
/* line 109, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003109}}
#main section.menu article {
  margin-top: 30px;
}
@media screen and (min-width: 400px) {
  /* line 112, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003112}}
  #main section.menu article {
    margin-top: 60px;
  }
}
/* line 116, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003116}}
#main section.menu article.sandwiches {
  float: left;
  width: 45%;
  min-width: 270px;
}
/* line 122, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003122}}
#main section.menu article.soups {
  float: left;
  width: 45%;
  min-width: 270px;
  margin-right: 10%;
}
/* line 127, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003127}}
#main section.menu article.desserts {
  float: left;
  clear: both;
  width: 100%;
}
@media screen and (min-width: 400px) {
  /* line 133, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003133}}
  #main section.menu article.desserts ul {
    -webkit-column-count: 2;
    -webkit-column-gap: 60px;
  }
}
/* line 138, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003138}}
#main section.menu article.desserts ul li {
  -webkit-column-break-inside: avoid;
}
/* line 144, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003144}}
#main section.menu article:last-child {
  margin-bottom: 40px;
}
@media screen and (min-width: 400px) {
  /* line 146, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003146}}
  #main section.menu article:last-child {
    margin-bottom: 60px;
  }
}
/* line 151, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003151}}
#main section.menu article .picture {
  background: transparent url(../img/icon-photo.png) no-repeat 50% 50%;
  display: inline-block;
  width: 20px;
  opacity: 0.8;
}
/* line 157, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003157}}
#main section.menu article .picture:hover {
  opacity: 1.0;
}
/* line 162, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003162}}
#main section.menu article img.soups {
  /*                display:none;*/

}
/* line 167, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003167}}
#main section.menu ul {
  list-style: none;
  font-weight: normal;
}
/* line 174, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003174}}
footer {
  position: relative;
  z-index: 1000;
  clear: both;
}
/* line 177, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003177}}
footer .mindful {
  background: #d8f1f2;
  /*        margin:auto;*/

  text-align: center;
  padding: 20px 5%;
  text-transform: uppercase;
  color: #00a7ab;
  font-weight: 700;
  letter-spacing: 0.3em;
  font-size: 0.90em;
  padding: 35px 10%;
  letter-spacing: 0.27em;
  line-height: 1.6em;
}
/* line 50, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\0000350}}
footer .mindful span {
  margin: 0 20px;
  display: inline-block;
  line-height: 2em;
}
/* line 179, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003179}}
footer .social {
  padding: 40px 0;
  text-align: center;
}
/* line 184, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003184}}
footer .social img {
  margin: 1em 30px;
  vertical-align: middle;
}
/* line 187, /Users/jeffreylarrimore/Development/MongThuSF/public/css/style.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeffreylarrimore\/Development\/MongThuSF\/public\/css\/style\.less}line{font-family:\00003187}}
footer .vietnam {
  background-color: #91857f;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}
