@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

@teal:#00a7ab;
@link:#046e71;

@highdensity: "only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              "only screen and (min--moz-device-pixel-ratio: 1.5)",
              "only screen and (-o-min-device-pixel-ratio: 3/2)",
              "only screen and (min-device-pixel-ratio: 1.5)";              
@ipad: "only screen and (min-device-width: 768px) and (max-device-width: 1024px)";              
@iphone "only screen and (max-device-width: 480px)";
@mobile: "only screen and (max-width: 320px)";

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

.static {
    position:static;
    z-index:0;
}
    
.relative {
    position:relative;
    z-index:1000;
}

a {
    text-decoration:none;
    color:@teal;
    
    &:hover { color:@link;}

    @media only screen and (max-device-width: 480px) { color:@link; }
}

body {
    -webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: none;
/*    background: #fff url(../img/mongthu_frame.png) no-repeat 50% 0;*/
    font-size: 100%;
	font-family: 'Quicksand', sans-serif;
	font-weight:400;
	line-height: 1.2;
	color: #504c4b; /*#4d4d4d;*/
    margin:0;
}


h1, h2, h3, h4 {
    color:@teal;
    text-transform:uppercase;
    margin-top:0;
}

ol, ul {
    list-style-position:outside;
    padding:0;
    font-weight:bold;
    
    li {
        span { font-weight:normal; }
    }
}

    .info {
        background:#d8f1f2;
/*        margin:auto;*/
        text-align:center;
        padding:20px 5%;
        text-transform:uppercase;
        color:@teal;
        font-weight:700;
        letter-spacing:0.3em;
        font-size:0.90em;
        
        span {
            margin:0 20px;
            display: inline-block;
            line-height:2em;
        }
    }
    
header {
    
    background: #00a7ab url(../img/soup-hero.jpg) fixed 50% -150px; 
    @media screen and (min-width: 750px){
        background-size: 100%;
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
        background-position:50% -100px;
        background-size: 110%;
    }
    
    padding-top:45px;
    
    
    #logo {
        height:202px;
        width:100%;
        background: transparent url(../img/MongThu-logo.png) no-repeat 50% 50%;
        position:fixed;
        z-index:0;
        
        @media only screen and (-webkit-min-device-pixel-ratio: 1.5){ background-image:url(../img/MongThu-logo@2x.png); background-size: 202px; }
        @media only screen and (min--moz-device-pixel-ratio: 1.5){ background-image:url(../img/MongThu-logo@2x.png); background-size: 202px;}
        @media only screen and (-o-min-device-pixel-ratio: 3/2){ background-image:url(../img/MongThu-logo@2x.png); background-size: 202px;}
        @media only screen and (min-device-pixel-ratio: 1.5){ background-image:url(../img/MongThu-logo@2x.png); background-size: 202px;}
       
        @media only screen and (max-device-width: 480px) { .static; margin-bottom:60px;}
        @media only screen and (max-width: 320px) { .static; margin-bottom:60px;}
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){ .static; margin-bottom:60px;}
                
    }
    
    .info {
        margin-top:250px;
        .relative;

        @media only screen and (max-device-width: 480px) { margin-top:0px; .static; }
        @media only screen and (max-width: 320px) { margin-top:0px; .static; }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){ margin-top:0px; .static; }
    }

}

#main {
    width:80%;
    background: #fff;
    padding:0 10%;
    display:inline-block;
    .relative;
    
    p {
        margin:0 0 1em 0;
    }

    section.menu {
        max-width:910px;
        margin: 0 auto;
        
        article {
            margin-top:30px;

            @media screen and (min-width: 400px){
                margin-top:50px;
            }
            
            &.sandwiches {
                float: left;
                width: 45%;
                min-width: 270px;  
            }
            
            &.soups {
                .sandwiches;        
                margin-right: 10%;
            }
            
            &.desserts {
                float:left;
                clear:both;
                width:100%;
                margin-top:40px;
                
                ul { 
                    @media screen and (min-width: 400px){
                    -webkit-column-count:2;
                    -webkit-column-gap:60px;
                    }
                                        
                    li {
                        -webkit-column-break-inside:avoid;
                    }
                }            
            }
            
            &:last-child {
                margin-bottom:40px;
                @media screen and (min-width: 400px){
                    margin-bottom:50px;
                }
            }
            
            .picture {
                background: transparent url(../img/icon-photo.png) no-repeat 50% 50%;
                display:inline-block; 
                width:20px;
                opacity:0.8;
                
                &:hover {
                    opacity:1.0;
                }
                
                @media only screen and (-webkit-min-device-pixel-ratio: 1.5){ background-image:url(../img/icon-photo@2x.png); background-size: 16px 13px; }
                @media only screen and (min--moz-device-pixel-ratio: 1.5){ background-image:url(../img/icon-photo@2x.png); background-size: 16px 13px;}
                @media only screen and (-o-min-device-pixel-ratio: 3/2){ background-image:url(../img/icon-photo@2x.png); background-size: 16px 13px;}
                @media only screen and (min-device-pixel-ratio: 1.5){ background-image:url(../img/icon-photo@2x.png); background-size: 16px 13px;}
                
                @media screen and (max-width: 760px){
                 display:none;   
                }
            }
            
            img.soups {
/*                display:none;*/
            }
        }
        
        ul {
            list-style:none;
            font-weight:normal;
        }
    }
}

footer {
    .relative;
    clear:both;
    .mindful { .info; padding:35px 10%; letter-spacing:0.27em; line-height: 1.6em;}
 
    .social {
        padding:40px 0;
        text-align:center;
        
        a { 
            &:hover{ opacity:0.6; }
        }
        
        img {margin:1em 30px; vertical-align:middle;}
    }
        
    .vietnam{ 
        background-color: #91857f;
        color:#fff;
        padding:50px 0;
        text-align:center;
    }
}